{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "module": "ESNext",
      "moduleResolution": "Bundler",
      "skipLibCheck": true
    },
    "baseUrl": "./",
    "paths": {
        "@render/*": [
          "src/render/*"
        ],
        "@main/*": [
          "src/main/*"
        ]
      }
  },
  "minify": false
}
